<mat-nav-list>
  <mat-list-item [activated]="true">
    <a matListItemTitle routerLink="/signup" (click)="close()">Signup</a>
    <button mat-icon-button matListItemAvatar>
      <mat-icon>face</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item [activated]="true">
    <a matListItemTitle routerLink="/login" (click)="close()">Login</a>
    <button mat-icon-button matListItemAvatar>
      <mat-icon>input</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item [activated]="true">
    <a matListItemTitle routerLink="/training" (click)="close()">Training</a>
    <button mat-icon-button matListItemAvatar>
      <mat-icon>fitness_center</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item [activated]="true">
    <a matListItemTitle routerLink="/logout" (click)="close()">Logout</a>
    <button mat-icon-button matListItemAvatar>
      <mat-icon>eject</mat-icon>
    </button>
  </mat-list-item>

</mat-nav-list>