<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggle()">
      <mat-icon class="mat-18">menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">NG Fitness</a>
  </div>
  <div class="flexRight" fxHide.xs>
    <ul>
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuth$ | async"><a routerLink="/training">Training</a></li>
      <li *ngIf="isAuth$ | async"><a style="cursor: pointer" (click)="onLogout()" >Logout</a></li>
    </ul>
  </div>
</mat-toolbar>