<section class="signup-form">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="ex: pat@example.com" required ngModel name="email" email #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Email can not be empty</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Invalid email address</mat-error>

    </mat-form-field>
    <mat-form-field class="float-left" appearance="fill" hintLabel="Should be at least 8 characters">
      <mat-label>Enter your password</mat-label>
      <input matInput placeholder="Your Password" required ngModel name="password" minlength="8" #pwInput="ngModel">
      <mat-hint align="end"> {{ pwInput.value?.length }} / 8</mat-hint>
      <mat-error>Has to be at least 8 characthers long.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Birthdate</mat-label>
      <input matInput [matDatepicker]="picker" name="birthdate" ngModel [max]="maxDate" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox required ngModel name="agree" value="" color="primary">Agree to Terms and Conditions</mat-checkbox>
    <button mat-raised-button *ngIf="!(isLoading$ | async)" type="submit" color="primary" [disabled]="form.invalid">Submit</button>
    <mat-progress-spinner *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-spinner>

  </form>
</section>