<section class="email-form">
  <form (ngSubmit)="onSubmit(loginForm)" [formGroup]="loginForm">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="ex: pat@example.com" id="email" name="email" formControlName="email">
      <mat-error *ngIf="f['email'].errors && f['email'].errors['required']">Email can not be empty.</mat-error>
      <mat-error *ngIf="f['email'].errors && f['email'].errors['email']">Invalid email address.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput placeholder="Your Password" formControlName="password">
      <mat-error *ngIf="f['password'].errors && f['password'].errors['required']">Password can not be empty.</mat-error>
      <mat-error *ngIf="f['password'].errors && f['password'].errors['minlength']">Password too short.</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">Submit</button>
  </form>
</section>